app-svg {
  max-width: 100%;
  margin: 5%;
  border: 1px solid rgb(255 255 255 / 20%);
  border-style: dashed;
  line-height: 0;
}
@media screen and (min-width: 600px) {
  app-svg {
    min-width: 420px;
    margin: 24px;
    margin-left: 0;
  }
}