<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 600" height="600" width="400" xml:space="preserve" id="svg"
version="1.1">
  <g transform="matrix(1.3333333,0,0,-1.3333333,0,600)" id="peru">

    <path app-path

      [division]="division"
      [id]="division.id"
      [title]="division.title"
      [class.selected]="division.selected"
      [class.overed]="division.overed"

      [attr.d]="division.data"
      [attr.transform]="division.transform"
      [id]="division.id"

      (click)="onPathClick(division.id)"
      (mouseover)="onPathOver(division.title,division.id)"
      (mousemove)="onPathMouseMove($event)"
      (mouseout)="onPathOut(division.id)"

      class="deparment"

      *ngFor="let division of divisions">
    </path>

  </g>
</svg>
<div class="tooltip"> {{overlabel}} </div>
