svg {
  max-width: 100%;
  max-height: 70vh;
  margin: auto;
}
.tooltip {
  font-family: "sans-serif";
  font-size: 20px;
  fill: red;
  background: black;
  color: white;
  position: fixed;
  padding: 10px;
  top: -50px;
  left: -50px
}
path {
  fill:#dddddd;
  stroke:#646464;
  stroke-width:1;
  stroke-linecap:square;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}
@media screen and (min-width: 600px) {
  path.overed {
    fill: #7b1fa2;
  }
}
path.selected {
  fill: #71b966;
}
