.todo-division {
  display: inline-block;
  padding: 6px;
  color: #111;
}
.todo-division.overed {
  background: #7b1fa2;
  color: #fff;
}
.todo-division.selected {
  background: #71b966;
  color: #fff;
}
