.todo-content {
  display: inline-block;
<<<<<<< Updated upstream
  padding: 6px;
  color: #111;
=======
  padding: 4px 6px;
  color: #fff;
>>>>>>> Stashed changes
  text-decoration: none;
}
.todo-icon {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 600px) {
  .todo-content.overed {
    background: #7b1fa2;
    color: #fff;
  }
}
.todo-content.selected {
  background: #71b966;
  color: #fff;
}
